.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem
}

.loading_md {
    padding: 5rem
}

.loading_sm {
    padding: 3rem
}

.loading_xs {
    padding: 1rem
}

.loading_img {
    display: inherit;
    min-width: 5rem;
    max-width: 10rem;
    background-color: transparent;
}

.loading_img_sm {
    min-width: 3rem;
    max-width: 5rem;
}

.loading-text {
    animation: loadingTextAnim 1s ease-in-out infinite;
}